// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// For example: needed?
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$cream: #EAE1D2;

$black: #010101;
$deep-purple: #231B2E;
$purple: #3A3153;
$violet: #5F43B2;
$grey: #B1AEBB;
$soft-peach: #FEFDFD;
