// Swiper

.swiper-slide img {
  width: 100%;
  z-index: 0;
  opacity: .7;
  // top: 0px;
  object-fit: cover;
  border: 0px;
  height: 100vh;
}

.swiper-slide h1 {
  position: absolute;
  // left: 10px;
  z-index: 5;
  padding: 30px;
  font-size: 2.5em;
  padding-top: 50px;
  font-weight: bold;
}

.home-btns {
  bottom: 50px;
  position: absolute;
  z-index: 5;
  margin-left: 10px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 1.5rem !important;
  
  --swiper-theme-color: #FEFDFD !important;
  --swiper-pagination-bullet-opacity: .7 !important;
  
  --swiper-pagination-bullet-inactive-color: #B1AEBB !important;
  --swiper-pagination-bullet-inactive-opacity: .5 !important;
}

// sign in sign up

.modal-body {
  display: flex;
  flex-direction: column;
}