<%# currently a card - need to be made into calender view %>
<%# whole container %>
<div class="bookings">
  <%= month_calendar(events: @bookings) do |date, bookings| %>
    <%= date %>
      <% bookings.each do |booking| %>
        <div class="booking">
        </div>
      <% end %>
  <% end %>
</div>
