<%# currently a card - need to be made into calender view %>
<%# whole container %>
<div class="bookings">
  <%= month_calendar(attribute: :bookings) do |date, meetings| %>
    <%= date.day %>
  <% end %>

</div>
