<%# currently a card - need to be made into calender view %>
<%# whole container %>
<div class="bookings">
  <%= month_calendar(events: @bookings) do |date, meetings| %>
    <%= date.day %>
    <% meetings.each do |meeting| %>
      <div class="meeting">
        <p><%= meeting.event.name %></p>
      </div>
  <% end %>
  <% end %>

</div>
