

<%# tabs for favourites and bookings section %>
<div class="tabs">
  <div class="tab-pane fade show active" id="tabs" role="tabpanel" aria-labelledby="my-tab">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="favourites-tab" data-bs-toggle="tab" data-bs-target="#favourites" type="button" role="tab" aria-controls="favourites" aria-selected="true"><h2>Favourites</h2></button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false"><h2>My reviews</h2></button>
      </li>

    </ul>
  </div>
  <%# tab content %>
  <div class="tab-content clearfix" id="myTabContent">
    <%# favourites tab %>
    <div class="tab-pane fade show active" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
      <%= render "favourites/tab" %>
    </div>
    <%# reviews/past events tav %>
    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
      <%= render "reviews/my_reviews" %>
    </div>
  </div>
</div>
