<%# whole container %>
<div class="favourites">
  <%# filtering through favourited events %>
  <%= @favourites.each do |favourite| %>
    <%# link whole card to each event page %>
    <%= link_to event_page(favourite.event) do %>
      <%# card for one event %>
      <div class="favourites-card">
        <%# event image %>
        <% favourite.event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 390, width: 390, crop: :fill %>
        <% end %>
        <%# event text %>
        <p><%= favourite.event.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
