<div class="nav-container">
  <div id="nav-bar">
    <div class="icon 1">
      <a href=""><%= image_tag "flame" %></a>
    </div>
    <div class="icon 2">
      <a href=""><%= image_tag "map" %></a>
    </div>
    <div class="icon 2">
      <a href=""><%= image_tag "profile" %></a>
    </div>
  </div>
</div>
