<div class="nav-container">
  <div id="nav-bar">
    <div class="icon 1">
      <a href="/popular"><%= image_tag "flame.png" %></a>
    </div>
    <div class="icon 2">
      <a href="/events"><%= image_tag "map.png" %></a>
    </div>
    <div class="icon 3">
      <a href="/profile"><%= image_tag "profile.png" %></a>
    </div>
  </div>
</div>
