<div class="nav-container">
  <div id="nav-bar">
    <div class="icon">
      <a src="/app/assets/images/flame.png" class="popular" href="/"></a>
    </div>     
    <div class="icon">
      <%= image_tag "map" %>
      <a class="map" href="/events">Map</a>
    </div>
    <div class="icon">
      <%= image_tag "profile" %>
      <a class="profile" href="/profile">Profile</a>
    </div>
  </div>
</div>
