<div class="nav-container">
  <div id="nav-bar">
    <div class="icon 1">
      <a href="/popular"><i class="fa-solid fa-fire-flame-curved"></i></a>
    </div>
    <div class="icon 2">
      <a href="/events"><i class="fa-solid fa-location-dot"></i></a>
    </div>
    <div class="icon 3">
      <a href="/profile"><i class="fa-solid fa-user"></i></a>
    </div>
  </div>
</div>
