<div class="nav-container">
  <div id="nav-bar">
    <div class="popular-icon">
      <a href="/popular"><i class="fa-solid fa-fire-flame-curved"></i></a>
    </div>
    <div class="map-icon active-page">
      <a href="/events"><i class="fa-solid fa-location-dot "></i></a>
    </div>
    <div class="profile-icon active-page">
      <%= link_to user_path(current_user) do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </div>
  </div>
</div>
