<div class="nav-container">
  <div id="nav-bar">
    <div class="icon">
      <a class="popular" href="">Popular</a>
    </div>     
    <div class="icon">
      <a class="map" href="">Map</a>
    </div>
    <div class="icon">
      <%= image_tag "profile" %>
      <a class="profile" href="">Profile</a>
    </div>
  </div>
</div>
