<div class="textbtns" data-controller="filter">
  <i class="fa-solid fa-tree" class="test" data-filter-target="outdoor" data-action="click->filter#toggleimage"></i>
  <i class="fa-regular fa-glass-martini" class="test" data-filter-target="food" data-action="click->filter#toggleimage"></i>

  <p data-action="click->filter#filtersubmit">Filter</p>

</div>
