<div class="filter" id="filter-form" data-filter-target="modal" style>
  <div class="filter-buttons">
    <%= form_for :tags, url: events_path, method: :get do |f| %>
      <%= f.collection_radio_buttons :tags, Event::TAGS, :id, :name %>
      <%= f.radio_button :tags, collection: Event::TAGS %>
      <%= f.button :submit %>
    <% end %>

    <%# <i class="fa-solid fa-bench-tree"></i> %>
  </div>
</div>
