<%# not visible but has search bar inserted into this div %>
<div class="top-bar" data-controller="filter">
  <div id="search-bar" class="search-bar" >
    <button data-action="click->filter#appear"
            data-filter-target="button">filters</button>
  </div>
    <%= render "events/filters_form" %>
</div>

<%# map div %>
<div style="width: 100%; height: 844px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>



<%= render "shared/navbar" %>
