
<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<%# <div class="nav-container">
  <div id="nav-bar">
    <a class="most-popular" href="">Most Popular</a>
    <a class="map" href="">Map</a>
    <a class="profile" href="">My Profile</a>
  </div>
</div> %>

<%= render "shared/navbar" %>

