<div class="container" data-controller="swiper">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h1>Discover your next night out.</h1>
        <%= image_tag "sky1" %>
      </div>
      <div class="swiper-slide">
        <h1>Search hundreds of events around you.</h1>
        <%= image_tag "sky2" %>
      </div>
      <div class="swiper-slide">
        <h1>NightsTale</h1>
        <%= image_tag "sky3" %>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="home-btns">
    <a class="btn box06403 short size2" href="">Sign In</a>
    <a class="btn box06403 short size2" href="">Sign Up</a>
  </div>
</div>
