<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Discover your next night out.</div>
    <div class="swiper-slide">Search hundreds of events around you.</div>
    <div class="swiper-slide">NightsTale</div>
  </div>
  <div class="swiper-pagination"></div>
</div>
