.simple-calendar {
  table {
    color: $soft-peach !important;
  }
  .today {
    background-color: $deep-purple !important;
  }

  .day {
    height: 3.5em;
    color: $soft-peach !important;
  }

  .prev-month {
    background-color: $purple !important;
  }

  .next-month {
    background-color: $purple !important;
  }
}

td {
  // color: white;
}

.booking {
  padding: 8px 24px;
  border-radius: 4px;
  background: $violet ;
  transition: background 0.3s ease;
}
