a {
  text-decoration: none;
  font-family: "Cinzel Decorative";
  color: $soft-peach;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: $soft-peach;
  // margin-top: 1rem;
}

* {
  list-style: none;
  padding: 0px;
  margin: 0 auto;

}

body {
  background: #232323;
  // background: pink;
  width: 100vw;
  margin-bottom: 70px;
}

h1, h2 {
  color: $soft-peach;
}

h4 {
  color: $grey;
}

.container {
  margin: 0px;
  padding: 0px;
}

.information {
  color: $grey;
  margin: 0;
}

// profile

.profile {
  background-color: $deep-purple;
}

h6:hover {
  text-decoration: none;
  color: $soft-peach;
}
