a {
  text-decoration: none;
  font-family: "Cinzel Decorative";
  color: $soft-peach;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: $soft-peach;
  // margin-top: 1rem;
}

* {
  list-style: none;
  padding: 0px;
  margin: 0 auto;
}

*:focus {
  outline: none; 
}

body {
  background: #232323;
  // background: pink;
  width: 100vw;
  margin-bottom: 70px;
}

h1, h2 {
  color: $soft-peach;
}

.nav-link h2 {
  font-family: "Cinzel";
}

h4 {
  color: $grey;
}

.container {
  margin: 0px;
  padding: 0px;
}

.add-container {
  // margin: 4.7rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.pos-ab2 {
  // position: absolute;
  // left: 1rem;
  // top: 7.3rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.information {
  color: $grey;
  margin: 0;
}

// profile

.profile {
  background-color: $deep-purple;
}

h6:hover {
  text-decoration: none;
  color: $soft-peach;
}


// position

.pos {
  position: absolute;
  left: 0rem;
}

.pos-search {
  position: relative;
}

.friend-selector + label {
  background-color: $purple !important;
  color: $soft-peach !important;
  opacity: .7;
  border: 1px solid $deep-purple;
  box-shadow: 0px 6px 4px rgba(0 ,0 , 0, 0.3);
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
}

.friend-selector:checked + label {
  background-color: $purple !important;
  color: $soft-peach !important;
  opacity: 1 ;
}