a {
  text-decoration: none;
  font-family: "Cinzel Decorative";
  color: $soft-peach;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: $soft-peach;
}

body {
  background: #232323;
  // background: pink;
  padding: 0px;
  margin: 0px;

}

h1, h2 {
  color: $soft-peach;
}

.container {
  margin: 0px;
  padding: 0px;
}

.information {
  color: $grey;
}