
.top-bar {
  width: 100%;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  background-color: $black;
  flex-direction: column;
}

.mapboxgl-popup-close-button {
  color: $grey !important;
  right: 5px !important;
}

.mapboxgl-popup-content {
  background: $purple !important;
  padding: 1.2em !important;
  box-shadow: 0px 6px 4px rgba(0 ,0 , 0, 0.3)  !important;
  border: 1px solid $black !important;
}

.mapboxgl-popup-tip {
  border-color: $purple !important;
}

.mapboxgl-user-location-dot {
  background-color: $violet !important;
}
.mapboxgl-user-location-dot::before {
  background: rgba($color: $violet, $alpha: 1.0)  !important;
}

.mapboxgl-ctrl-geocoder {
  background: $grey;
}

.mapboxgl-ctrl-geocoder--icon{
  fill: $violet;
}

.filter {
  width: 100%;
  display: none;
}
.search-bar {
  display: flex;
  flex-direction: row;
  margin: 0.2em;
}

.filter-icon-box {
  margin-left: 0.1em;
  margin-right: 0.4em;
  display: flex;
  align-items: center;
}

.fa-filter {
  color: $violet;
}

//  --------------------

.textbtns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.active {
  color: red;
}

i {
  color: white;
}


form.simple_form.tags {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      margin: 1em;
}

.filter-btn {
  background-color: $grey;
  color: $violet;
}

// code for turning into pill boxes:
// --------------------------------
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $violet;
  color: white;
}
.map-cont {
  overflow: hidden;

}