// Nav Bar

#nav-bar {
  justify-content: space-between;
  background: $black;
  margin: 0%;
  display: flex;
  width: 100%;
  height: 80px;
  bottom: 0px;
  padding: 20px;
  left:0px;
  right: 0px;
  // z-index: 5;
  position: fixed;
  box-sizing: border-box;
  align-items: stretch;
  border-radius: 15px 15px 0px 0px;
}

// Icons

.icon {
  display: flex;
  color: $soft-peach;
  flex-direction: column;
  font-size: 1em;
}

.icon:active {
  color: pink;
}

.icon img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid grey;
}