// Nav Bar

#nav-bar {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: $black;
  border-radius: 30px 30px 0px 0px;
  // padding-top: 0px;
  // left: 50%;
  // bottom: 50%;
  // transform: translate(-50%,50%);
  // overflow: hidden;
  z-index: 10000;
}

// li elements

// ul li i {
//   font-size: 17px;
//   color: $purple;
// }

.icon:nth-child(1){
  position: absolute;
  left: 20%;
  bottom: 50%;
  transform: translate(-50%,50%);
  padding: 15px;
  transition: all .5s;
}

.icon:nth-child(2){
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,50%);
  padding: 15px;
  transition: all .5s;
}

.icon:nth-child(3){
  position: absolute;
  left: 80%;
  bottom: 50%;
  transform: translate(-50%,50%);
  padding: 15px;
  transition: all .5s;
}

// .icon:hover{
//   position: absolute;
//   bottom: 105%;
//   // transform: translate(-50%,50%);
//   // background-color: $soft-peach;
//   border-radius: 50%;
//   // border: 5px solid $purple;
// }

// .icon img:hover {
//   width: 80px;
//   border-radius: 50px;
// }

// Icons

.icon {
  display: flex;
  color: $soft-peach;
  flex-direction: column;
  font-size: 1em;
}

.icon:active {
  color: pink;
}

.icon img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid grey;
  background-color: $soft-peach;
}

.fa-fire-flame-curved {
  background: #5F43B2;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
    
.fa-location-dot {
  color: white;
  font-size: 2rem;
}

.fa-user {
  color: #5F43B2;
  font-size: 2rem;
}
