// Padding

.pad10 {
  padding: 10px;
}

.pad12 {
  padding: 1.2em;
}

// button padding

.long {
  padding-left: 120px;
  padding-right: 120px;
}

.short {
  padding-left: 40px;
  padding-right: 40px;
}

.new-friend-btn {
  padding-left: 6rem;
  padding-right: 6rem;
}

.new-booking-btn {
  padding-left: 4rem;
  padding-right: 4rem;
}
// width

#query.form-control {
  width: 19rem !important;
  margin-top: 1rem;
}