<%# button edit review %>
<button type="button" class="" data-bs-toggle="modal" data-bs-target="#reviewEditModal">
 <i class="fa-solid fa-pen"></i>
</button>


<%# modal pop up for booking form%>
<div class="modal fade" id="reviewEditModal" tabindex="-1" role="dialog" aria-labelledby="reviewEditModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="reviewEditModalLabel">Edit Review</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [review.event, review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
